<app-navbar ng-model="navbar" style="position: fixed; width: 100%"> </app-navbar>
<app-mainview ng-model="mainview"> </app-mainview>

<section style="width: 82%; margin-left: 18%; background-color: cornflowerblue; position:fixed; margin-top: 55px">
    <h3 style="margin-left: 40%; margin-top: 12px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: wheat">Grade Alert</h3>
    <br>
</section>
<br><br><br><br><br>

<div style="width: 75%; margin-left: 22%; margin-top:150px; background-color: #ffdddd; border-left: 6px solid #f44336;padding: 20px">
<h2>Looks like you have ended projects to be graded</h2>
<br>
<h2>You need to grade them first to carry out other system functions</h2>

<button routerLink="/GradeList" [disabled]="admincheck" class="btn btn-primary" style="margin-top: 20px; margin-left: 800px; width: 140px">Grade Now</button>
</div>