<app-navbar ng-model="navbar" style="position: fixed; width: 100%"> </app-navbar>
<app-mainview ng-model="mainview"> </app-mainview>

<section style="width: 82%; margin-left: 18%; background-color: cornflowerblue; position:fixed; margin-top: 55px">
    <h3 style="margin-left: 40%; margin-top: 12px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: wheat">Profile View</h3>
    <br>
</section>
<br><br><br><br><br>

<table class="table" style="width: 82%; margin-left: 18%;">
        <thead>
            <tr style="position: fixed; background-color: white;">
                <!-- <th scope="col" style="text-align: center; width: 5%">Rank</th>
                <th scope="col" style="text-align: center; width: 15%">Employee Number</th>
                <th scope="col" style="text-align: center; width: 22%">Employee Name</th>
                <th scope="col" style="text-align: center; width: 13%">No. of Projects Completed</th>
                <th scope="col" style="text-align: center; width: 15%">Lead BA Grade</th>
                <th scope="col" style="text-align: center; width: 10%">System Grade</th>
                <th scope="col" style="text-align: center; width: 10%">Customer Grade</th>
                <th scope="col" style="text-align: center; width: 10%">Overall Grade</th> -->
            </tr>
            <br>
        </thead>
        <tbody>
            <tr>
                    <div class="form-group" style="margin-left: 20px;">
                    <div style="text-align:center">
                            <img src={{image}} width="15%" style="border-radius: 80%">
                            <br>
                        </div>
                        
                        </div>
                    </tr>
            <tr>
                    <div class="form-group" style="margin-left: 20px;">
                    <h5 style="display:inline-block">Personal Details</h5>
                        </div>
            </tr>
            <tr>
                    <div class="form-group" style="margin-left: 20px;">
                            <label for="fname">First Name</label>
                            <input class="form-control" type="text" name="fname" [(ngModel)]="userPro.fname" [disabled]="isPersonDetailsEditableDisabled || admincheck"
                                 value="{{userPro.fname}}"> 
                      </div>
                </tr>
            <tr>
                <div class="form-group" style="margin-left: 20px;">
                        <label for="lname">Last Name</label>
                        <input [(ngModel)]="userPro.lname" [disabled]="isPersonDetailsEditableDisabled || admincheck"
                            class="form-control" type="text" name="lname" value="{{userPro.lname}}">
                  </div>
            </tr>
            <tr>
                <div class="form-group" style="margin-left: 20px;">
                        <label for="username">User Name</label>
                        <input [(ngModel)]="userPro.username" [disabled]="isPersonDetailsEditableDisabled || admincheck"
                            class="form-control" type="text" name="username" value="{{userPro.lname}}">
                  </div>
            </tr>
            <tr>
                <div class="form-group" style="margin-left: 20px;">
                        <label for="Position">Position</label>
                        <input [(ngModel)]="userPro.type" name="type" disabled=""
                            class="form-control" type="text" value="{{userPro.type}}">
                  </div>
            </tr>
            <tr>
                <div class="form-group" style="margin-left: 20px;">
                        <label for="About-me">About me</label>
                        <textarea [(ngModel)]="userPro.about" name="about" [disabled]="isPersonDetailsEditableDisabled || admincheck"
                            class="form-control" cols="30" rows="5" type="text" value="{{userPro.about}}">

                  </textarea>
                  </div>
            </tr>
            
            <tr>
                <div class="form-group" style="margin-left: 20px;">
                    <label for="Contact">Contact No</label>
                        <input [disabled]="isContactDetailsEditableDisabled || admincheck" class="form-control" type="text"
                            value="{{userPro.contact1}}" name="contact1" [(ngModel)]="userPro.contact1">
                  </div>
            </tr>
            <tr>
                <div class="form-group" style="margin-left: 20px;">
                        <label for="Contact">Address</label>
                  </div>
            </tr>
            <tr>
                <div class="form-group" style="margin-left: 100px;">
                        <label for="number"> No:</label>
                        <input [disabled]="isContactDetailsEditableDisabled || admincheck" class="form-control" type="text"
                            value="{{userPro.addressno}}" name="addressno" [(ngModel)]="userPro.addressno">
                  </div>
            </tr>
            <tr>
                <div class="form-group" style="margin-left: 100px;">
                        <label for="Street">Street:</label>
                        <input [disabled]="isContactDetailsEditableDisabled || admincheck" class="form-control" type="text"
                            value="{{userPro.street}}" name="street" [(ngModel)]="userPro.street">
                  </div>
            </tr>
            <tr>
                <div class="form-group" style="margin-left: 100px;">
                        <label for="City">City:</label>
                        <input [disabled]="isContactDetailsEditableDisabled || admincheck" class="form-control" type="text"
                            value="{{userPro.city}}" name="city" [(ngModel)]="userPro.city">
                  </div>
            </tr>
            <tr>
                <div class="form-group" style="margin-left: 20px;">
                        <label for="email">Email</label>
                        <input [disabled]="isContactDetailsEditableDisabled || admincheck" class="form-control" type="text"
                            value="{{userPro.email}}" name="email" [(ngModel)]="userPro.email">
                            </div>
            </tr>
            
        </tbody>
    </table>