<app-navbar ng-model="navbar" style="position: fixed; width: 100%"> </app-navbar>
<app-mainview ng-model="mainview"> </app-mainview>

<section style="width: 82%; margin-left: 18%; background-color: cornflowerblue; position:fixed; margin-top: 55px">
    <h3 style="margin-left: 45%; margin-top: 12px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: wheat">Reply List</h3>
    <br>
</section>
<br><br><br><br><br>

<section style="width: 82%; margin-left: 18%; background-color: teal; position:fixed;">
<h4 style="margin-left: 10px">Answer :</h4>
<h3 style="margin-left: 10px">{{answerproject.content}}</h3>
</section>
<br><br><br>

<table class="table table-hover table-striped" style="width: 82%; margin-left: 18%;">

    <tbody>
        <tr *ngFor="let reply of replylist">
            <th scope="col">
                <h4>{{reply.content}}</h4>
                <h5 style="margin-left: 30px; color: darkblue">Reply from: {{reply.employeeid}}</h5>
                <h5 style="margin-left: 30px; color: darkblue">On: {{reply.date}} At: {{reply.time}}</h5>
            </th>
</table>

<button (click)="newReply()" [disabled]="admincheck" class="btn btn-primary float-right">New Reply</button>

<br><br>